.card-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.email-area,
.password-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

label,
input {
    width: 25%;
    height: 25px;
    border-radius: 25px;
}

.form-Login {
    height: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(circle, #e58f24, #bf7417);
    gap: 25px;
}

.area-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.btn-orange {
    background-color: #e58f24;
    width: 180px;
    height: 40px;
    border-radius: 25px;
    font-family: cinzel;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.btn-login {
    border: 1px solid black !important;
}

.label-login-form {
    font-size: 22px;
    color: white;
}

.password-area,
.email-area {
    gap: 25px;
    line-height: 2.5;
}
