.card-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.email-area,
.password-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

label,
input {
    width: 25%;
    height: 25px;
    border-radius: 25px;
}
