.main-order-detail-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-order-details {
    width: 700px;
    margin-bottom: 5%;
}

.order-details-page {
    width: 70%;
}

.btn-validate-order {
    margin-top: 15%;
}

.image-order-detail-page {
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
