.main-search-bikes-page {
    width: 100%;
    margin-top: 140px;
}

.section-blocks-title-ul-search {
    width: 70%;
}

.image-search-bar-area {
    width: 300px;
}

.search-results-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajustez l'espacement horizontal comme vous le souhaitez */
    text-align: center;
}

.search-result {
    width: calc(50% - 10px); /* Deux images par ligne, avec espacement */
    margin-bottom: 20px; /* Espacement vertical entre les lignes d'images */
    list-style: none;
}

.price-search-result {
    font-size: 22px;
}
