.area-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-orange {
    background-color: #e58f24;
    width: 180px;
    height: 40px;
    border-radius: 25px;
    font-family: cinzel;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.label-login-form {
    font-size: 22px;
    color: white;
}

.password-area,
.email-area {
    gap: 25px;
    line-height: 2.5;
}
